@charset "utf-8";
.sjs_window form {padding:0; margin:0}
button::-moz-focus-inner {border:none}
.no_bg {background:none}
.no_bold {font-weight:normal !important}
.no_border, a img {border:none}
.no_margin {margin:0}
.clear {clear:both;font-size:1px;line-height:1px;}
plugsometoolbar, .hide {display:none}
.hidden {position:absolute;visibility:hidden;width:0;height:0}
.unvisible {visibility:hidden}
.relative {position:relative}
.left {float:left}
.m_inp {margin:0; //margin-left:-3px;}
.tcenter {text-align:center}
.margin-left20 {margin-left:10px !important}
.margin-top-10 {margin-top:12px}
.sjDimensions    {height:400px; width:700px; overflow:auto}

body, html {
    margin:0; padding:0;
    height:100%; width:100%;
    background-attachment: fixed;
}

html, body, body a, body input, a:active, a:focus, button {
    outline:none;
    outline-width:medium;
    outline-style:none;
}

.sjFilemanagerWindow .window_main {
    padding-bottom: 23px;
}

.sj-fm-wrapper {
    text-align:left;
    font-size: 12px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

.sjFilemanagerWindow {
    min-height: 200px !important;
    min-width:  400px !important;
}

.field {
    margin-bottom:10px;
    padding-left:10px;
    zoom:1;
}

.field input {margin:0; padding:0}
.field span {vertical-align:text-top}

.input {
    border-top:1px solid #2f2f2f;
    border-left:1px solid #2f2f2f;
    border-right:1px inset #cbcbcb;
    border-bottom:1px inset #cbcbcb;
    width:250px; height:16px;
    background-color:#fff;
    color:#686868;
    margin-top:2px;
    padding-left:1px;
    font-size:13px;
}

.sjs_form .error, .sjs_form .errupl {
    display:none;
    margin:0; padding:0;
    height:auto;
    font-family:Tahoma !important;
    font-size:11px;
    text-align:left;
    font-weight:normal;
}

.sjs_form .error .example {
    color:#000;
}

.sjs_form .file a {
    display:block;
    height:20px; width:20px;
}

.sjs_form .submit {
    display:inline-block;
    padding:0 2px;
    background:url(../img/form/middle-btn.jpg) repeat-x center top;
    color:#000;
    font-size:11px;
    line-height:19px;
    vertical-align:text-top;
    height:20px;
    white-space:nowrap;
}

.sjs_form .leftImg, .sjs_form .rightImg {
    display:inline-block;
    background:url(../img/form/btn.gif) no-repeat 0 0;
    width:9px; height:20px;
    vertical-align:text-top;
}

.sjs_form .btn-submit {
    display:inline-block;
    margin:0; padding:0;
    cursor:default;
    height:20px;
    width:auto;
    overflow:visible;
    margin-right:5px;
    vertical-align: middle;
}

.btn-submit:active .submit, .file_active:active .submit, .file_active:active .leftImg, .btn-submit:active .leftImg {
    background-position:0 bottom
}
.btn-submit:active .rightImg, .file_active:active .rightImg {background-position:right bottom}

.sjs_form .rightImg {background-position:100% 0}

.sjs_table {
    border-collapse:collapse;
    padding:0 !important;
    font-size:12px;
    border:1px solid #bcbdbe;
    width:100%;
    *width: 97.5%;
}

.sjs_table tr {height:27px; *height:20px;}
.sjs_table td {
    padding:0;
    border:1px solid #bcbdbe;
    border-bottom:1px solid #bcbdbe;
    padding:3px 0 3px 5px;
}
.sjs_table .head, .sjs_table .head a {
    color:#4f6b72;
    text-align:left;
    font-weight:bold;
    font-size:10px;
}

.sjs_table .tbl_bg {background-color:#f2f4f0}
.sjs_table .padding-left-0 {padding-left:0px !important}
.head .cfg {width:30px}

/* WIDTH */
.width20 {width:20px}
.width40 {width:40px}
.width60 {width:60px}
.width70 {width:70px}
.width80 {width:80px}
.width100 {width:100px}
.width110 {width:110px}
.width120 {width:120px}
.width140 {width:140px}
/* --WIDTH */

.filelist, .filelist td {
    border: 0;
    font-size:11px;
}

.filelist th.tcenter {
    padding:1px 4px 1px 8px;
}

.filelist th {
    background:url(../img/filelist.png) no-repeat right 0;
    padding:8px 8px 6px;
}

.filelist td { background:#f2f1ee url(../img/filelist-border.png) repeat-y right 0; padding:1px 4px 1px 8px}
.filelist tr.selected td { background-color:#ddefff}
.filelist th.list-current {
    background:url(../img/cur-item-list.png) no-repeat right 0;
    width:50%;
}
.filelist td.list-current {
    background-color:#fff;
    height:22px;
    width:50%;
    overflow:hidden;
}

.filelist td.list-current input {
    display:block;
    width:100%;
    margin-top:-1px;
    height:15px;
    font-size:12px;
    border:1px solid #7f9db9;
}

.default {background-image:url(../img/fext/default.png)}
.css, .htm, .html, .php, .tpl, .js {background-image:url(../img/fext/html.png)}
.csv,.xls,.xlsx {background-image:url(../img/fext/xls.png)}
.doc,.rtf {background-image:url(../img/fext/doc.png)}
.rar, .zip {background-image:url(../img/fext/rar.png)}
.txt {background-image:url(../img/fext/txt.png)}
.swf, .flv {background-image:url(../img/fext/swf.png)}
.psd {background-image:url(../img/fext/psd.png)}
.jpeg,.jpg, .gif, .png {background-image:url(../img/fext/image.png)}
.pdf {background-image:url(../img/fext/pdf.png)}

.filelist .folder {background-image:url(../img/folder.gif)}
.filelist .sort {text-decoration:none}
.filemanagertop {
    position:static;
    background-color:#e8e7e5;
    padding:6px 0px 6px 15px;
    zoom:1;
}
.filemanagertop a.active {
    border:1px solid #0a246a !important;
    background-color:#d3d5dc;
}
.filemanagertop a.sjsFMdinamic,
.filemanagertop a.sjsFMdisabled
 {
    -moz-opacity:0.3;
    -khtml-opacity:0.3;
    filter:alpha(opacity=30);
    opacity:0.3;
}
.enabledGeneralActions a.sjsFMdinamic,
.enabledFileActions a.onlyFile,
.enabledDirActions a.onlyDir
 {
    -moz-opacity:1;
    -khtml-opacity:1;
    filter:alpha(opacity=100);
    opacity:1;
}
.enabledGeneralActions a.onlyFile,
.enabledGeneralActions a.onlyDir,
.filemanagertop a.sjsFMdisabled
{
    -moz-opacity:0.3 !important;
    -khtml-opacity:0.3 !important;
    filter:alpha(opacity=30) !important;
    opacity:0.3 !important;
}
.filemanagertop a.active,
.enabledFileActions a.onlyFile,
.enabledDirActions a.onlyDir,
.filemanagertop a.sjsFMenabled
 {
    -moz-opacity:1 !important;
    -khtml-opacity:1 !important;
    filter:alpha(opacity=100) !important;
    opacity:1 !important;
}

.filemanagertop a.sjsFMdinamic:hover,
.filemanagertop a.sjsFMdisabled:hover
{
    border:1px solid #e8e7e5;
    background-color:transparent;
}

.enabledGeneralActions a.sjsFMdinamic:hover,
.enabledFileActions a.onlyFile:hover,
.enabledDirActions a.onlyDir:hover,
.filemanagertop a:hover,
.filemanagertop a.sjsFMenabled:hover
{
    border:1px solid #0a246a;
    background-color:#b2bbd0;
}

.enabledGeneralActions a.onlyFile:hover,
.enabledGeneralActions a.onlyDir:hover,
.filemanagertop a.sjsFMdisabled:hover
{
    border:1px solid #e8e7e5 !important;
    background-color:transparent !important;
}

.enabledFileActions a.onlyFile:hover,
.enabledDirActions a.onlyDir:hover
{
    border:1px solid #0a246a !important;
    background-color:#b2bbd0 !important;
}

.filemanagertop a {
    border:1px solid #e8e7e5;/*#e8e7e5*/
    display:inline-block;
    width:20px; height:20px;
    font-size: 1px;
    margin-left:5px;
    text-decoration:none;
    cursor:default !important;
    background-color:#E8E7E5;
    background-position: 50% 45%;
    background-repeat: no-repeat;
    vertical-align: text-top;
}
.filemanagertop .somedo {
    display:inline-block;
    width:20px;height:20px;
    visibility: hidden;
    background:url(../img/load.gif) no-repeat center center;
    vertical-align:text-top;
    margin-right:10px;
    font-size:1px;
}
.dofileaction .somedo {
    visibility:visible;
}
.filemanagerfixed {
    position:absolute;
    padding-left:5px;
    width:36px;
    bottom:24px;
    z-index:400;
}
.filelist .loading {background:url(../img/load.gif) no-repeat 0 2px !important}
.filelist label.parent-dir {background:url(../img/folder-parent.gif) no-repeat 0 3px}

.filelist td label {
    display:block;
    padding-left:20px;
    height:17px; line-height:17px;
    background-repeat:no-repeat;
    background-position:0 3px;
    padding-top:3px;
    text-decoration:none;
    color:#000;
}

.sjfm_files_insert {
    background-image:url(../img/toolbar/insert.png);
}

.sjfm_files_cut {
    background-image:url(../img/toolbar/cut.png);
}

.sjfm_files_copy {
    background-image:url(../img/toolbar/copy.png);
}

.sjfm_files_paste {
    background-image:url(../img/toolbar/paste.png);
}

.sjfm_files_rename {
    background-image:url(../img/toolbar/rename.png);
}

.sjfm_files_remove {
    background-image:url(../img/toolbar/remove.png);
}

.sjfm_files_refresh {
    background-image:url(../img/toolbar/refresh.png);
}

.sjfm_files_perms {
    background-image:url(../img/toolbar/perms.png);
}

.sjfm_files_upload {
    background-image:url(../img/toolbar/upload.png);
}

.sjfm_files_download {
    background-image:url(../img/toolbar/save.png);
}

.sjfm_files_transform {
    background-image:url(../img/toolbar/attach.png);
}

.sjfm_files_dirInfo {
    background-image:url(../img/toolbar/info.png);
}

.sjfm_files_createDir {
    background-image:url(../img/toolbar/create.png);
}

.window_warning {
    padding-left:65px !important;
    padding-right:5px;
    margin-top:5px;
    margin-bottom:10px;
    height:40px; _width: 450px;
    min-width: 300px;
    background:url(../img/info/warning.gif) no-repeat 15px center;
}

.perms_fieldset {
    display:inline-block;
    background:url(../img/fieldset-border.gif) no-repeat 10px 8px;
    width:101px; height:87px;
    margin:2px 4px 0;
    font-size:13px;
    padding:0;
}

.perms_fieldset span {
    display:inline-block;
    margin:0 0 5px 6px;
    padding:0 2px;
    background-color:#eee;
}

.perms_fieldset label {
    display:block;
    font-weight:normal;
    margin-bottom:6px;
    //margin-bottom:5px;
    margin-left:6px;
    padding:0;
}
.perms_fieldset label input {
    margin:0;
    //margin:-4px -3px 0;
}
.perms_btn {
    display:block;
    margin-top:6px;
    _margin-top:1px;
    margin-left:12px;
}
.perms_btn .input {
    width:auto
}

.label {
    color:#545454;
    font-weight:bold;
    font-size:11px;
    padding-left:10px;
    padding-top:2px;
    margin-left:-10px;
}
/**/


/* WINDOW */

.sjs_window {
    position:absolute;
    _overflow:hidden;
    zoom:1;
}

.ie6_width_fix {
    _width:100px;
}

.sjs_window .bleft, .sjs_window .bright {
    position:absolute;
    width:2px; height:100%; min-height:100%;
    top:0; left:0;
    _height:1000px;
    background:url(../img/window/border.gif) repeat-y 0 0;
    clip:rect(24px auto auto auto);
}

.sjs_window .bbottom {
    position:absolute;
    bottom:0; left:0;
    height:2px; font-size:1px;
    width:100%;  min-width:100%;
    background:url(../img/window/bbottom.gif) repeat-x 0 0;
}

.sjs_window .sjs_wtop {
    /*position:relative;*/
    height:24px;
    /*zoom:1;*/
}

.sjs_window .sjs_wltitle, .sjs_window .sjs_wrtitle {
    position:absolute;
    top:0; left:0px;
    width:8px; height:24px;
    background:transparent url(../img/window/title.gif) no-repeat 0 0;
}

.sjs_window .bright, .sjs_window .sjs_wrtitle {
    left:auto; right:0;
    background-position:right 0;
}

.sjs_window .sjs_wtop .sjs_waction {
    position:absolute;
    right:6px; top:4px;
    white-space:nowrap;
}

.sjs_window .sjs_wtop .sjs_waction a {
    display:inline-block;
    width:14px; height:15px; font-size:1px;
    background-repeat:no-repeat;
    background-position:0 0;
    outline:none;
    margin-right:2px;
}

.sjs_window .sjs_waction .close {background-image:url(../img/window/close.gif)}
.sjs_window .sjs_waction .minimize {background-image:url(../img/window/min.gif)}
.sjs_window .sjs_waction .maximize {background-image:url(../img/window/max.gif)}
.sjs_window .sjs_waction .maximizeBack {background-image:url(../img/window/max_back.gif)}

.sjs_window .sjs_waction a:hover {background-position:0 -15px}
.sjs_window .sjs_waction a:active {background-position:0 -30px}

.sjs_window .sjs_wtop img.upload_img {
    position:absolute;
    left:5px; top:3px;
}

.sjs_window .sjs_wtitle {
    background:url(../img/window/title_repeat.gif) repeat-x 0 0;
    height:24px;
    position:absolute;
    right:8px; top:0;
    width:100%;
    clip:rect(auto auto auto 15px);
    text-align:center;
    font:bold 12px Verdana, Arial, Helvetica, sans-serif;
    padding-top:4px;
    cursor:default;
    white-space:nowrap;
    overflow:hidden;
}

.sjs_window .sjs_wcontent {
    margin:0 2px 2px;
    background-color:#eee;

/*    position:absolute;
    top:0; left:0;
    margin:24px 2px 2px 2px;
    overflow:auto;
    width:100 !important;
    height:100% !important;
    */
}
.mceLayout iframe {
    position:relative;
    z-index:50;
}

.sjsClone {
    background-color:#666;
    border:1px solid #333;
    opacity:0.6;
    -moz-opacity:0.6;
    -khtml-opacity:0.6;
    filter:alpha(opacity=60);
    min-height:50px;
    min-width:50px;
}

.sjsResize {
    position:absolute;
    width:3px; height:3px;
    _font-size:1px;
    z-index: 100;
}

.sjsResizable .n, .sjsResizable .s {
    cursor:n-resize;
    top:0; left:0;
    width:100%;
}
.sjsResizable .s {top:auto; bottom:0;cursor:s-resize}
.sjsResizable .w, .sjsResizable .e {
    cursor:w-resize;
    top:0; left:0;
    height:100%;
}

.sjsResizable .e {left:auto; right:0;cursor:e-resize}

.sjsResizable .se, .sjsResizable .ne, .sjsResizable .nw, .sjsResizable .sw {
    z-index: 101;
    width:4px; height:4px;
}

.sjsResizable .nw {
    top:0; left:0;
    cursor:nw-resize;
}

.sjsResizable .ne {
    top:0; right:0;
    cursor:ne-resize;
}

.sjsResizable .se {
    bottom:0; right:0;
    cursor:se-resize;
}

.sjsResizable .sw {
    bottom:0; left:0;
    cursor:sw-resize;
}

/* UPLOADER */
div.fieldset {
    border:1px solid #afe14c;
    padding: 0 10px;
    margin:0 10px !important;
    min-height:50px;
    _height:50px;
}
div.fieldset span.legend {
    position: relative;
    background-color: #EEE;
    padding: 3px;
    top: -10px;
    font: 700 14px Arial, Helvetica, sans-serif;
}

div.flash {
    width: 365px;
    border-color: #d0d0bf;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-radius: 5px;
}

.upload-form {
    _height:85px;
    min-height:85px;
    padding-top:15px;
}

.progressWrapper {
    width:377px; zoom: 1; _height: 60px;
    min-height: 60px;
    overflow:hidden;
}

.progressContainer {
    margin: 5px;
    padding: 4px;
    border: solid 1px #E8E8E8;
    background-color: #F7F7F7;
    overflow: hidden;
}

.progressName {
    font:700 11px  Arial, Helvetica, sans-serif;
    color:#4e3333;
    text-align:left;
    white-space:nowrap;
    overflow:hidden;
}

.progressBarInProgress, .progressBarStatik {
    margin-top:-11px;
    font-size: 9px;
    width: 0%;
    height:12px;
    color:#000;
}

.progressBarStatik {
    margin-top:4px;
    width:100%;
    text-align:center;
}

.progressComplete .progressBarInProgress, .progressError .progressBarInProgress,
.progressCancelled .progressBarInProgress, .progressComplete .progressBarStatik,
.progressCancelled .progressBarStatik, .progressError .progressBarStatik {
    visibility:hidden
}

.progressComplete {
    border:1px solid #73b304;
    background-color:#e2fdcb;
}

.progressError {
    border:1px solid #ed2024;
}

.progressCancelled {
    border:1px solid #ed2024;
}

.progressBarStatus {
    margin-top: 2px;
    width: 337px;
    font-size: 7pt;
    font-family: Arial;
    text-align: left;
    color:#818284;
    white-space: nowrap;
}

a.progressCancel {
    font-size: 0;
    display: block;
    height: 14px;
    width: 14px;
    background-image: url(../img/form/delete.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    float: right;
    opacity: 0.8;
    filter:alpha(opacity=80);
    -khtml-opacity:0.8;
    -moz-opacity:0.8;
}

a.progressCancel:hover {
    opacity: 1;
    filter:alpha(opacity=100);
    -khtml-opacity:1;
    -moz-opacity:1;
}

.swfupload {
    vertical-align: middle;
}

.span-cell, .span-table {
    display:inline-block;
}

.span-cell span {
    display:block
}

.span-table {
    white-space:nowrap !important;
}

#sjPopup {
    font:normal 13px Arial, Verdana, Helvetica, sans-serif;
    display: none;
    background: url("../img/info/error.png") no-repeat scroll 2px 4px #000;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 11px;
    padding: 3px 1px 3px 20px;
    position: absolute;
    right: 18px; top: 30px;
    min-width: 20%; max-width: 80%;
    min-height: 50px;
    _height: 50px; _width:300px;
    z-index:200;
}

#sjPath {
    z-index:50;
    position: absolute;
    bottom: 2px; left: 2px; right: 2px;
    height: 12px; line-height: 11px;
    _width: 90%; min-width: 90%;
    background-color:#fff;
    padding: 4px 8px;
    font-size: 9px;
    border: 1px solid #e6e6e6;
    -moz-box-shadow:0 0 37px #E6E6E6;
    -webkit-box-shadow:0 0 37px #E6E6E6;
    box-shadow:0 0 37px #E6E6E6;
}

#sjPath a {
    display: inline-block;
    height: 16px;
    color:#4f6b72;
    margin: 0 3px;
    font:normal 12px/11px Arial, Verdana, Helvetica, sans-serif;
    vertical-align: top;
}

#sjPath a.act {
    color: #000;
    text-decoration: none;
}
